{# templates/admin/fields/raw_text.html.twig #}
{% if field is not empty %}
    <a href="/{{ ea.request.locale }}/admin?crudAction=detail&crudControllerFqcn=App%5CController%5CAdmin%5CGangerCrudController&entityId={{ entity.primaryKeyValue }}">{{ field.value }}</a>
{% endif %}